*{
    margin: 0;
    padding: 0;
    font-family: Arial;
}
header{
    width: 100vw;
    height: 10vh;
    background-color: cornflowerblue;
}
header img{
    height: 10vh;
    float: left;
}
header h1{
    text-align: center;
}
.container-flex{
    height: 80vh;
    display: flex;
}
.left{
    overflow: auto;
    width: 50vw;
    background-color: #C19A6B;
}
.rigth{
    background-repeat:no-repeat;
    background:url(../img/mexicali.jpg);
    background-size: cover;
    width: 50vw;
}
footer{
    width: 100vw;
    height: 10vh;
    background-color:darkgreen;
}